@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-bold-sans {
  font-family: var(--font-instrument-sans-bold);
}

.font-regular-sans {
  font-family: var(--font-instrument-sans-regular);
}

.font-semibold-sans {
  font-family: var(--font-instrument-sans-semibold);
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}